<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
　<title>グラフ</title>
</head>
<body>
  <h1>対チーム別勝利数</h1>
<div class="win_data">
  <div class="win_data_chart">
    <canvas id="myRaderChart"></canvas>
  </div>

  <div class="win_data_index">
    <%- @enemy_names.each do |enemy| %>
    <li>
      <%= enemy.enemy_id %> : <%= link_to enemy.enemy.name,"/team/#{enemy.enemy_id}" %>
    </li>
    <%- end%>
  </div>
</div>

  <div class="doom_data">
    <h1>ドーム別勝利数</h1>
    <div class="doom_data_chart">
      <canvas id="mydoomChart"></canvas>
    </div>
    <div class="doom_data_index">
      <%- @doom_datas.each do |doom| %>
      <li>
        <%= doom.doom_id %> : <%= doom.doom.name %>
      </li>
      <%- end%>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
    var ctx = document.getElementById("myRaderChart");
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: <%= @enemy_names.map {|name| name.enemy.id} %>,
            datasets: [{
                label: "<%= @all_datas.first.team.name %>",
                data: <%= @win_amount.map {|enemy| enemy[1]} %>,
                backgroundColor: 'RGBA(225,95,150, 0.5)',
                borderColor: 'RGBA(225,95,150, 1)',
                borderWidth: 1,
                pointBackgroundColor: 'RGB(46,106,177)'
            },
            {
                label: '平均取得点数',
                data: <%= @avg_score.map {|enemy| enemy[1]} %>,
                borderColor: 'RGB(46,106,177)',
                borderWidth: 1,
                pointBackgroundColor: 'RGB(46,106,177)',
            }]
        },
        options: {
            title: {
                display: true,
                text: '対チーム別勝利数'
            },
            scale:{
                ticks:{
                    suggestedMin: 0,
                    suggestedMax: 20,
                    stepSize: 5,
                    callback: function(value, index, values){
                        return  value +  '勝'
                    }
                }
            }
        }
    });

var ctx = document.getElementById("mydoomChart");
    var mydoomChart = new Chart(ctx, {

      type: 'line',
    data: {
      labels: <%= @doom_datas.map {|name| name.doom_id} %>,
      datasets: [
        {
          label: '<%= @all_datas.first.team.name %>',
          data: <%= @doom_datas.sum(:game).map {|win| win[1]} %>,
          borderColor: "RGBA(225,95,150, 0.5)",
          backgroundColor: "RGBA(225,95,150, 0.5)"
        },
        {
          label: '平均取得点数',
          data: <%= @doom_datas.average(:get_score).map {|score| score[1]} %>,
          borderColor: 'RGB(46,106,177)',
          borderWidth: 1,
          pointBackgroundColor: 'RGB(46,106,177)',
        }],
    },
    options: {
      title: {
        display: true,
        text: 'ドーム別勝利数'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 20,
            suggestedMin: -20,
            stepSize: 10,
            callback: function(value, index, values){
              return  value
            }
          }
        }]
      },
    }
  });


  </script>
</body>

</html>



